# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Finbuckle.MultiTenant.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.dll
*.pdb
*xmldoc
*.xml
*.xml.gz
*.xml.gz.*
*.xml.*
/obj/
/bin/
*.bin
*.json
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
/Debug
*.editorconfig
*.txt
/*.AssemblyAttributes.cs
/*.cpp